:javascript
  tinymce.init({
      selector: "textarea",
      plugins: [
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table contextmenu paste"
      ],
      language: 'ru',
      toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
      file_browser_callback : elFinderBrowser
  });

  function elFinderBrowser (field_name, url, type, win) {
    tinymce.activeEditor.windowManager.open({
      file: '/elfinder_manager',// use an absolute path!
      title: 'elFinder 2.0',
      width: 900,
      height: 450,
      resizable: 'yes'
    }, {
      setUrl: function (file) {
        win.document.getElementById(field_name).value = file.url;
      }
    });
    return false;
  }


= form_for discipline do |f|
  %b Название:
  = f.text_field :name
  %br
  %b Преподаватель:
  = f.collection_select(:user_id, User.where(role: :teacher), :id, :name)
  %br
  %b Содержание:
  = f.text_area :page
  .form-actions.form-wrapper#edit-actions
    = f.submit 'Сохранить', id: 'edit-submit'
