<p id="notice"><%= notice %></p>

<h1>Новости</h1>

  <tbody>
    <% @news.each do |news| %>
      <div class="views-row views-row-1 views-row-odd views-row-first">
    <div id="node-1024" class="node node-news node-teaser">


      <h2><%= link_to news.title, news_path(news) %></h2>

      <div class="submitted">Оставлен <%= link_to news.user.name, user_path(news.user) %> <%= news.date.strftime('%d/%m/%y %T') %></div>

  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><%= raw news.content %></div></div></div>  </div>

  <div class="clearfix">
    <div class="links"><ul class="links inline"><li class="node-readmore first"><%= link_to 'Подробно', news_path(news) %></li>
        <li class="comment-add last"><%= link_to 'Добавить комментарий', news_path(news) %></li>
</ul></div>

      </div>

</div>
  </div>
    <% end %>

<%= link_to 'Добавить новость', new_news_path %>
