<!DOCTYPE html>
<html>
<head>
  <title>UniversitySiteRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class='html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-23 node-type-page'>
<div id="header">
  <div id="header-inside" height="117px">
    <div id="header-inside-left">
      <div class="clearfix">
        <span id="site-name" >
          <div height="117px">
            <div style="float: left; width: 80px;"><a href="/"><img style="margin-right:20px white-space: pre-line; word-wrap: break-word; display: inline;" width="80px" src="http://is.ulstu.ru/sites/default/files/logo_1_1.png" alt="Главная" /></a></div>
            <div style="float: right; width: 114px;"><a href="/"><img width="114px" src="http://is.ulstu.ru/themes/corporateclean/images/logoUlstu.png"></a></div>
            <div style="padding-top: 25px; padding-left: 260px"><a style="white-space: pre-line; word-wrap: break-word; display: inline; color: #acbbd4;" href="/" title="Главная">Кафедра "Информационные системы"</a></div>
          </div>
        </span>
      </div><!-- /site-name-wrapper -->
    </div>
    <div id="header-inside-right">

    </div>

</div><!-- EOF: #header-inside -->

</div><!-- EOF: #header -->

<!-- Header Menu. -->
<div id="header-menu">
    <div id="header-menu-inside">
      <ul class="menu">
        <li class="first leaf"><a href='/static_pages/enrollee'>Абитуриентам</a></li>
		<li class="leaf"><a href="/news" title="Новости сайта">Новости</a></li>
		<li class="expanded"><a href="#">Преподаватели</a>
          <ul class="menu">
            <li class="first leaf">
              <% User.where(role: :teacher).order(name: :asc).each do |teacher|  %>
                <li class="leaf"><%= link_to teacher.name, user_path(teacher) %> </li>
              <% end %>
	      </ul>
        </li>
        <li class="expanded"><a href=/static_pages/napr'>Направления</a>
        <ul class="menu"><li class="first expanded"><a href='/static_pages/bak'>Бакалавриат</a>
            <ul class="menu">
              <li class="first expanded"><a href='/static_pages/bak/isebd'>Прикладная информатика</a>
			    <ul class="menu">
			      <li class="first leaf"><a href="/static_pages/ISEbd-1">Курс 1</a></li>
				  <li class="leaf"><a href="/static_pages/ISEbd-2">Курс 2</a></li>
				  <li class="leaf"><a href="/static_pages/ISEbd-3">Курс 3</a></li>
				  <li class="last leaf"><a href="/static_pages/ISEbd-4">Курс 4</a></li>
				</ul>
			  </li>
                          <li class="last expanded"><a href='/static_pages/bak/pibd'>Программная инженерия</a>
               <ul class="menu">
                 <li class="first leaf"><a href="/static_pages/PIbd-1">Курс 1</a></li>
			     <li class="leaf"><a href="/static_pages/PIbd-2">Курс 2</a></li>
			     <li class="leaf"><a href="/static_pages/PIbd-3">Курс 3</a></li>
			     <li class="last leaf"><a href="/static_pages/PIbd-4">Курс 4</a></li>
			   </ul>
             </li>
		   </ul>
         </li>
         <li class="last expanded"><a href='/static_pages/mag'>Магистратура</a>
			<ul class="menu">
				<li class="first expanded"><a href="/static_pages/ISEmd">Прикладная информатика</a>
					<ul class="menu">
					  <li class="first leaf"><a href="/static_pages/ISEmd-1">Курс 1</a></li>
					  <li class="leaf"><a href="/static_pages/ISEmd-2">Курс 2</a></li>
					</ul>
				 </li>
				 <li class="last expanded"><a href="/static_pages/PImd">Программная инженерия</a>
				   <ul class="menu">
					 <li class="first leaf"><a href="/static_pages/PImd-1">Курс 1</a></li>
					 <li class="leaf"><a href="/static_pages/PImd-2">Курс 2</a></li>
				   </ul>
				 </li>
			</ul>
		 </li>
       </ul>
     </li>
	 <li class="expanded"><a href="/static_pages/science">Наука</a>
       <ul class="menu">
         <li class="first collapsed"><a href="/static_pages/pis">ПИС</a></li>
	     <li class="leaf"><a href="/static_pages/sntk">СНТК</a></li>
		 <li class="leaf"><a href="/static_pages/science/nir" title="">НИР</a></li>
		 <li class="last leaf"><a href="/static_pages/science/nirs" title="">НИРС</a></li>
	   </ul>
     </li>
	 <li class="last expanded"><a href="/static_pages/rasp">Расписание</a>
       <ul class="menu">
         <li class="first leaf"><a href="/static_pages/rasp/group">Расписание групп</a></li>
	  	 <li class="leaf"><a href="/static_pages/rasp/prep">Расписание преподавателей</a></li>
	  	 <li class="last leaf"><a href="/static_pages/rasp/aud">Расписание аудиторий</a></li>
	   </ul>
     </li>
   </ul>
        <!-- <?php
            wp_nav_menu( array(
                'theme_location' => 'primary',
                'menu_class'     => 'menu',
                'container'      => 'ul',
             ) );
        ?>
        -->
    </div>
</div>
<div id="content">
  <div id="content-inside" class="inside">
    <div id="sidebar">
      <div class="region region-sidebar-first">
         <%= render 'layouts/news_widget' %>
         <% unless devise_controller? %>
           <%= render 'layouts/login_widget' %>
         <% end %>
       </div>
     </div>
    <div id='main'>
      <%= yield %>
    </div>
  </div>
</div><!-- .site-content -->

<div id="footer">
  <div id="footer-inside">
    <div class="footer-area first"></div><!-- EOF: .footer-area -->
      <div class="footer-area second">
        <div class="region region-footer-second">
          <div class="block block-block" id="block-block-1">
          <div class="content">
            <div>
            <div style="float: left;">
                  <span style="color:#ccdbe4;"><strong>Ульяновский государственный технический университет<br>
                  Факультет информационных систем и технологий<br>
                  Кафедра "Информационных систем"</strong></span>
            </div>
            <div style="float: right;">
                  <span style="color:#ccdbe4;">432027, г. Ульяновск, ул. Северный Венец, 32, 3 учебный корпус, ауд.422<br>
                  телефон : (8422) 77-80-79,<br>
                  факс: (8422) 78-83-45<br>
                  e-mail: <a href="mailto:jng@ulstu.ru">jng@ulstu.ru</a></span>
            </div>
            </div>
          <p style="padding-top: 63px; margin-left: -15px;"><span style="font-size:8px; margin-top: 80px;"><span style="color:#ccdbe4;">Лциензия №1719 от 15 августа 2011г. выдана Федеральной службой по надзору в сфере образования и науки</span></span></p>
          </div>
          </div>
        </div>
      </div><!-- EOF: .footer-area -->
      <div class="footer-area third"></div><!-- EOF: .footer-area -->
    </div><!-- EOF: #footer-inside -->
  </div><!-- EOF: #footer -->
  </div><!-- .site-inner -->
</div><!-- .site -->
</body>
</html>
